@page "{gameId:int}"

@model GameLibrary.Pages.Games.DetailModel

@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Game.Title</h2>

<div>Id: @Model.Game.GameId</div>
<div>Genre: @Model.Game.Genre</div>
<div>Publisher: @Model.Game.Publisher</div>
<div>Publish Year: @Model.Game.PublishYear</div>

<br>    

<a asp-page="./List" class="btn btn-primary">All Games</a>